<form [formGroup]="registerForm" (ngSubmit)="register()" class="p-4 shadow-lg rounded-4 bg-light">
  <h2 class="text-center text-primary mb-3">Signup</h2>
  <hr>

  <div class="mb-3">
    <label style="margin-right: 10px;">I'm a: </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="male" formControlName="gender"/>
      Male
    </label>
    <label class="form-check-label ms-3">
      <input type="radio" class="form-check-input" value="female" formControlName="gender"/>
      Female
    </label>
  </div>

  <!-- Username -->
  <div class="form-floating mb-3">
    <app-text-input
      [formControl]="$any(registerForm.controls['username'])"
      [label]="'Username'"
      [type]="'text'"
      [minlength]="4"
      [maxlength]="20"/>
  </div>
  <div class="form-floating mb-3">
    <app-text-input
      [formControl]="$any(registerForm.controls['knownAs'])"
      [label]="'Known As'"
      [type]="'text'"
      [minlength]="4"
      [maxlength]="20"/>
  </div>

  <div class="form-floating mb-3">
    <app-date-picker
      [formControl]="$any(registerForm.controls['dateOfBirth'])"
      [label]="'Date of Birth'"
      [maxDate]="maxDate"
    />
  </div>

  <div class="form-floating mb-3">
    <app-text-input
      [formControl]="$any(registerForm.controls['country'])"
      [label]="'Country'"
      [type]="'text'"
      [minlength]="1"
      [maxlength]="20"/>
  </div>

  <div class="form-floating mb-3">
    <app-text-input
      [formControl]="$any(registerForm.controls['city'])"
      [label]="'City'"
      [type]="'text'"
      [minlength]="4"
      [maxlength]="20"/>
  </div>

  <!-- Password -->
  <div class="form-floating mb-3">
    <app-text-input
      [formControl]="$any(registerForm.controls['password'])"
      [label]="'Password'"
      [type]="'password'"
      [minlength]="4"
      [maxlength]="20"/>
  </div>

  <!-- Confirm Password -->
  <div class="form-floating mb-3">
    <app-text-input
      [formControl]="$any(registerForm.controls['confirmPassword'])"
      [label]="'Confirm Password'"
      [type]="'password'"
      [minlength]="4"
      [maxlength]="20"/>
  </div>

<!--  @if (validationErrors && validationErrors.length > 0) {-->
<!--    <div class="alert alert-danger" role="alert">-->
<!--      @for (error of validationErrors; track $index) {-->
<!--        <div>{{ error }}</div>-->
<!--      }-->
<!--    </div>-->
<!--  }-->
  <!-- Buttons -->
  <div class="d-flex justify-content-center gap-3">
    <button [disabled]="registerForm.invalid" class="btn btn-primary px-4" type="submit">Register</button>
    <button class="btn btn-outline-secondary px-4" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>

<!--<p>Form Value = {{ registerForm.value | json }}</p>-->
<!--<p>Form Status = {{ registerForm.status | json }}</p>-->
