<div class="container mt-4">
  <div class="text-center">
    @if (!registerMode) {
      <h1>Find your match</h1>
      <p class="lead">Come on in to view your matches... all you need to do is sign up and then you can start
        matching</p>
      <div class="d-flex justify-content-center gap-3">
        <button (click)="toggleRegister()" class="btn btn-primary">Sign up</button>
        <button class="btn btn-outline-info">Learn more</button>
      </div>
    } @else {
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <app-register
              [userFromHomeComponent]="null"
              (cancelRegister)="cancelRegisterMode($event)"
            ></app-register>
          </div>
        </div>
      </div>
    }
  </div>
</div>
